<% provide :title, t("contact") %>
<h1><%= t "contact" %></h1>
<p>
  <%= t "static_pages.contact.sentence" %>
  <%= link_to t("static_pages.contact.page"),
    "http://www.railstutorial.org/contact" %>
</p>
