# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: fd53daf08d21acc97dc04b2b92d6e8c2ddda58462c690e8016901d7525678457ec352cdfd0e9858fe543b8f207bf14c7d87b14b95c0d3f13be6c69d7ea984805

test:
  secret_key_base: c86282d13d051ed3f1f011de4525177b0ac50dbf530e9501d894aed7ef7c5deb14fb7c4065956bd53a1fcb2eeb30e8c7419c8fbd2f572c9ae08e3a5437141351

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
