@import "bootstrap-sprockets";
@import "bootstrap";

$color-1: #777;
$color-2: #222;
$color-3: #555;
$color-4: #eaeaea;
$color-5: #bbb;
$while-color: #fff;
$red: #f00;

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  border: 1px solid color-5;
  box-sizing: border-box;
  margin-bottom: 15px;
  resize: vertical;
  width: 100%;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  line-height: 1;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: $color-1;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  line-height: 1;
}

h4 {
  line-height: 1;
}

h5 {
  line-height: 1;
}

h6 {
  line-height: 1;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

// header

.logo {
  color: $while-color;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
  text-transform: uppercase;

  &:hover {
    color: $while-color;
    text-decoration: none;
  }
}

// footer

footer {
  border-top: 1px soild $color-2;
  color: $color-1;
  margin-top: 45px;
  padding-top: 5px;

  a {
    color: $color-3;

    &:hover {
      color: $color-2;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

// miscellaneous
.debug-dump {
  clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
}

// sidebar

aside {

  section {
    margin-top: 20px;
    padding: 10px 0;

    .user-info {
      margin-top: 20px;
    }

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      line-height: 1;
      margin-bottom: 3px;
    }

    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0;
      text-align: left;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar-edit {
  margin-top: 15px;
}

// forms


select {
  border: 1px solid color-5;
  box-sizing: border-box;
  margin-bottom: 15px;
  width: 100%;
}

.uneditable-input {
  border: 1px solid color-5;
  box-sizing: border-box;
  margin-bottom: 15px;
  width: 100%;
}

input {
  border: 1px solid color-5;
  box-sizing: border-box;
  height: auto;
  margin-bottom: 15px;
  width: 100%;
}

.error-explanation {
  color: $red;

  ul {
    color: $red;
    margin: 0 0 30px;
  }
}

